node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
prisma/generated
prisma/dev.db
prisma.config.js
prisma.config.js.map
prisma.config.d.ts
prisma.config.d.ts.map
